fastapi
uvicorn[standard]
sqlalchemy
alembic
PyMySQL
psycopg
psycopg2-binary
python-dotenv
python-multipart
pydantic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
groq
imageio-ffmpeg
openai
langchain
langchain-openai
tiktoken
pinecone
truststore
pypdf
python-docx
openpyxl
Pillow
pdf2image
pytesseract
pytest
httpx
